.b-book {
  background: #fff;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  position: relative;
  padding: 1.5rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.12), 0 0.1rem 0.2rem rgba(0,0,0,0.24);
}

.b-book-cover {
  width: 100%;
}
